* {
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  min-width: 600px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

body label {
  font-size: 16px;
}

body .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

body .container textarea {
  resize: vertical;
  border: 1px solid #232b53;
  border-radius: 4px;
}

body .container button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  margin: 0 10px;
  background-color: #5bd1ff;
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

body .container button:hover {
  background-color: #55c1ec;
}
